In [7]:
message = "hello world!"
print(message)

hello world!

In [ ]:
import geopandas as gpd

In [8]:
data_path = "/Users/joshua/Library/CloudStorage/OneDrive-UniversityofChester/MSC Marine and Coastal Resource Management/Biodiversity Informatics/Hairy Dragonfly Variables.csv"

In [10]:
gdf = gpd.read_file(data_path)

In [11]:
gdf

,x,y,Observed,Water.Vapor,Precipitation,Temperature,Elevation
0,7.291666667,43.875,1,1.31280005,49.5,13.45800018,565
1,9.875,53.95833333,1,1.105000019,67,5.306000233,25
2,1.125,49.29166667,1,1.189599991,47,8.236000061,37
3,-3.875,43.125,1,1.108799934,74.5,6.454666615,774
4,22.20833333,40.625,1,1.358999968,32.5,10.33666611,23
...,...,...,...,...,...,...,...
88,-3.125,58.625,1,0.996399999,63,6.328666687,50
89,-2.041666667,57.45833333,1,0.999800026,60,7.882666588,122
90,11.20833333,43.375,1,1.233800054,56.5,9.86266613,460
91,-5.125,39.29166667,1,1.233599901,26.5,8.593333244,467
92,-1.708333333,40.70833333,1,0.840600014,41.5,11.27600002,1382